.calendar {
    line-height: 1;
    text-align: center;
    background-color: #fff;
    border-radius: .25rem;
}

.calendar-header {
    padding: .25rem .25rem;
    color: #fff;
    font-weight: normal;
    font-size: .5rem;
    background-color: #f57c00;
}

.calendar-body {
    display: flex;
    flex-direction: column;
}

.calendar-month {
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: capitalize;
}

.calendar-weekday {
    color: #9e9e9e;
    font-size: .75rem;
    text-transform: capitalize;
}

.calendar-day {
    font-size: 1.0rem;
}

.calendar-year {
    color: #9e9e9e;
    font-size: .75rem;
}
