.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;   
}

.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;   
}

.border-style {
    border: 1px solid #C0C0C0;
    border-radius: 5px; 
    margin: 1px; 
    padding: 1px;
}

.medicament-list { 
    height: 850px;
    width: 1900px;            
    overflow-y: scroll;    
}

.medicament-list-item { 
    height: 52px;
}

.medicament-list-item-name { 
    font-size: 24px;
    height: 50px;
    width: 500px;
    text-align: left;
}

.medicament-list-item-reserve { 
    font-size: 24px; 
    height: 50px;
    width: 250px;
    text-align: center;
}

.medicament-list-item-dose { 
    font-size: 24px; 
    height: 50px;
    width: 250px;
    text-align: center;
}

/*Add modal*/
.add-medicament-button {
    height: 50px;
    width: 150px;
    margin: 1px;
    font-size: 14px;
}

.add-medicament-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 14px;
}

.add-medicament-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 14px;
}

.add-medicament-modal-input {
    margin: 5px;
    font-size: 14px;
}

/*Create modal*/
.create-medicament-list-item-button {
    height: 50px;
    width: 500px;
    margin: 1px;
    font-size: 14px;
}

.create-medicament-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 14px;
}

.create-medicament-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 14px;
}

.create-medicament-modal-input {
    margin: 5px;
    font-size: 14px;
}

/*Edit modal*/
.edit-medicament-button {
    height: 50px;
    width: 150px;
    margin: 1px;
    font-size: 14px;
}

.edit-medicament-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 14px;
}

.edit-medicament-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 14px;
}

.edit-medicament-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 14px;
}

.edit-medicament-modal-input {
    margin: 5px;
    font-size: 14px;
}